body{
    background-color: lightslategray;
}

table {
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
    color: rebeccapurple;
}

a {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: rebeccapurple;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: fixed;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}